<div class="comment-wrap">
	<form action="#">
		<div class="write-wp">
			<input type="text" class="form-control" placeholder="작성자">
			<input type="text" class="form-control" placeholder="한줄 코멘트">
			<button class="btn btn-primary">댓글등록</button>
		</div>
		<table class="table table-striped comment-tbl">
			<!-- <colgroup>
				<col width="100">
				<col width="150">
				<col >
			</colgroup> -->
			<tbody>
				<tr>
					<td class="datetime">21-09-15 11:11:15</td>
					<td class="writer">홍귈동</td>
					<td class="comment">댓글을 달았습니다.</td>
				</tr>
				<tr>
					<td class="datetime">21-09-15 11:11:15</td>
					<td class="writer">홍귈동</td>
					<td class="comment">댓글을 달았습니다.</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>