.board-tbl tbody tr {cursor: pointer;}
.board-tbl th:nth-child(1) {width: 10%;}
.board-tbl th:nth-child(2) {width: 20%;}
.board-tbl th:nth-child(3) {width: 15%;}
.board-tbl th:nth-child(4) {}
.board-tbl th:nth-child(5) {width: 15%;}
.board-tbl th:nth-child(6) {width: 10%;}
.board-tbl .content-td {padding: .25em 0; vertical-align: middle; text-align: left;}
.board-tbl .cover-td {padding: .25em 0; vertical-align: middle;}
.board-tbl .content-td .icon {width: 24px;}
.board-tbl .cover-td .cover {max-width: 28px; max-height: 28px;}